@page "/changes"

<h3>Activity History</h3>
<br />
<PageViewer PageModel="@Model">

    <div class="row">
        <div class="col-2">
            <div>Activity</div>
            <select>
                <option>Subscriptions</option>
                <option>Users</option>
            </select>
        </div>
        <div class="col-2">
            <div>Period</div>
            <select>
                <option>7 days</option>
                <option>30 days</option>
                <option>3 month</option>
                <option>6 month</option>
                <option>1 year</option>
                <option>all time</option>
            </select>
        </div>
        <div class="col-3">
            <div>User</div>
            <MultiDropdown Items="@Model.UserList" Changed="OnUserDropdownChanged"></MultiDropdown>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        @if (Model.ChangeList.Any())
        {
            <div class="col-7">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Properties</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var change in Model.ChangeList)
                        {
                            <tr>
                                @change
                                @*<td>@user.Name</td>
                                    <td>@user.Email</td>
                                    <td>@user.UserType</td>
                                    <td>
                                        <a href="/users/@user.Id">
                                            edit
                                        </a>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-5">
                some info
            </div>
        }
        else
        {
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>Activity history is empty.</p>
        }
    </div>

</PageViewer>

@inherits BasePageComponent<ActivityHistoryPageModel>
@code {

    protected override async Task OnInitializedAsync()
    {
        var getUsersResult = await ApiCall.Users.GetUserListAsync();
        if (!getUsersResult.IsSuccess)
        {
            ShowError(getUsersResult.ErrorMessage);
            return;
        }
        Model.UserList = getUsersResult.Data.Select(x => new DropdownItem{
            Key = x.Id.ToString(),
            Text = $"{x.Name}"
        });

        Model.ChangeList = new List<string>
{
            "fdafdsf df123 34 4",
            "fdafdsf df123 34 4",
            "fdafdsf df123 34 4",
            "fdafdsf df123 34 4",
        };
        Model.IsReady = true;
    }

    void OnUserDropdownChanged(string e)
    {
        Script.ExecuteAsync("console.info", e.ToJson());
    }
}
