<h3>Subscriptions</h3>

<PageViewer PageModel="@Model">
    <br />
    <br />
    <Table TypeOfEntity="SubscriptionModel" Items="Model.SubscriptionList">
        <Header>
            <th>Name</th>
            <th>Distributor Markup, %</th>
            <th>Reseller Markup, %</th>
            <th>Base Price</th>
            <th>Price with Markup</th>
            <th></th>
        </Header>
        <RowTemplate Context="subscription">
            <td>@subscription.Title</td>
            <td>@subscription.DistributorMarkupAsPercent %</td>
            <td>@subscription.ResellerMarkupAsPercent %</td>
            <td>@subscription.Price @subscription.Currency.ToString()</td>
            <td>@subscription.TotalPrice @subscription.Currency.ToString()</td>
            <td>
                <a href="/subscriptions/@subscription.Id">
                    edit
                </a>
            </td>
        </RowTemplate>
    </Table>

    <a href='/subscriptions/Add'>
        <span class="oi oi-plus" aria-hidden="true" style="vertical-align: text-bottom"></span> <span>add</span>
    </a>
</PageViewer>


@page "/subscriptions"
@using HistoryTracking.BL.Services.SubscriptionProducts.Models
@inherits BasePageComponent<SubscriptionListPageModel>
@code {

    protected override async Task OnInitializedAsync()
    {
        var getSubscriptionListResult = await ApiCall.Subscriptions.GetSubscriptionListAsync();
        if (!getSubscriptionListResult.IsSuccess)
        {
            ShowError(getSubscriptionListResult.ErrorMessage);
            return;
        }
        Model.SubscriptionList = getSubscriptionListResult.Data;

        Model.IsReady = true;
    }
}
